<form action="/" method="post">
  <input type="text" name="new-list" placeholder="New list name">
  <button type="submit" name="new-list-btn">Make My List!</button>
</form>

<% @lists.each do |list| %>
  <p><a href="/my_list/<%= list.id %>"><%= list.name %></a><p>
<% end %>
